<h1>Index</h1>

<ul>
	<li><%= link_to "New Event", :action=>"new" %></li>
	<li><%= link_to "Events", :controller=>"events" %></li>
	<li><%= link_to "Locations", :controller=>"locations" %></li>
	<li><%= link_to "Organizations", :controller=>"organizations" %></li>
</ul>